<div class="form-group">
    <div class="col-sm-4">
    <input type="text" class="form-control" placeholder="NOM" 
    id="nom1" name="nom1"  
    [(ngModel)]="nom1"
    >
    </div>
  </div>
<p>La valeur de la variable 'nom' est : {{ nom1 }}</p>
<h3>Ajout d'une catégorie</h3>
<div class="container">
    <h1>Nom {{nom()}}</h1>
    <h1>nomcategorie : {{nouvcategorie().nomcategorie}}</h1>
    <h2>image:{{nouvcategorie().imagecategorie}}</h2>
<form >
    
    <div class="form-group">
        <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="NOM" 
        id="nom" name="nom"  
        [ngModel]="nom()"
        (change)="changeName($any($event.target).value)"
        >
        </div>
      </div>
 

    <div class="form-group">
        <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Nom Catégorie" 
        id="nomcategorie" name="nomcategorie" 
        [(ngModel)]="nouvcategorie().nomcategorie"
        >
        </div>
      </div>

    <div class="form-group">
        <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Image Catégorie" 
        id="imagecategorie" name="imagecategorie"  
        [(ngModel)]="nouvcategorie().imagecategorie"
        >
        </div>
      </div>
 
   
    <div class="form-group">
      <div class="col-sm-4">
    <button type="submit" class="btn btn-success" (click)="addCateg()">Enregistrer</button>
    <button type="button" class="btn btn-default" (click)="reset()">Reset</button>
    </div>
    </div>
  </form>
</div>
